<div class="intro-header">
  <div class="container">
    <div class="row">
       <div class="search-page">
        
        <h1>Saved Food Facts</h1>

        <% current_user.food_facts.each do |fact| %>
        <table class="table table-hover col-md-6 col-offset-3">
          <tr class="s">
            <th>Food Item:</th>
            <td><%= fact.item_name %></td>
          </tr>
          <tr>
            <th>Brand:</th>
            <td><%= fact.brand_name %></td>
          </tr>
          <tr>
            <th>Serving Size:</th>
            <td>qty <%= fact.nf_serving_size_qty %></td>
          </tr>
          </tr>
            <th>Calories:</th>
            <td><%= fact.nf_calories %></td>
          </tr>
          <tr>
            <th>Total Fat:</th>
            <td><%= fact.nf_total_fat %> g</td>
          </tr>
         </table>
          <%= link_to "Delete", food_facts_path(id: fact.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      
        </div>
      </div>
    </div>
  </div>
