  <ul>
    <% current_user.food_facts.each do |fact| %>
      <li><%= fact.item_name %></li>
      <li><%= fact.brand_name %></li>
      <li><%= fact.serving_size %></li>
      <li><%= fact.nf_calories %></li>
      <li><%= fact.nf_total_fat %></li>
      <li>----------------------</li>
      <%= link_to "Delete", food_facts_path(id: fact.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </ul>