
<div class="col-md-6 food-search">
 <%= submit_tag "Search", :name => nil %><%= form_tag search_path, :method => 'get' do %>
    <%= text_field_tag :food, params[:food] %>
   
<% end %>
<div>

<table>
	<tr class="s">
		<th>Food Item:</th>
		<td><%= @food['item_name'] %></td>		
	</tr>
	<tr>
		<th>Brand:</th>
		<td><%= @food['brand_name'] %></td>
	</tr>
	<tr class="s">
		<th>Serving Size:</th>
		<td><%= @food['nf_serving_size_qty'] %> </td>
	</tr>
	<tr>
		<th>Calories:</th>
		<td><%= @food['nf_calories'] %></td>
	</tr>
	<tr class="s">
		<th>Fat:</th>
		<td><%= @food['nf_total_fat'] %>g</td>
	</tr>
</table>


